<h1> LISTADO DE PRODUCTO</h1>

<table>
  <header>
      <tr>
        <td>ProductId</td>
        <td>Category</td>
        <td>MainCategory</td>
        <td>TaxTarifCode</td>
        <td>SupplierName</td> 
        <td>WeightMeasure</td> 
        <td>WeightUnit</td> 
        <td>Description</td> 
        <td>Name</td> 
        <td>DateOfSale</td>
        <td>ProductPicUrl</td>
        <td>Status</td>
        <td>Quantity</td>
        <td>UoM</td>
        <td>CurrencyCode</td>
        <td>Price</td>
        <td>Width</td>
        <td>Depth</td>
        <td>Height</td>
        <td>DimUnit</td>
      </tr>
  </header>
  <body>
    <tr *ngFor = "let producto of products"></tr>
    <td> {{producto.value._ProductId}}</td>
    <td> {{producto.value._Category}}</td>
    <td></td>
  </body>
</table>